$def with (contactos)

<a href="/create">Nuevo contacto</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Acciones</th>
    </tr>

$for c in contactos:
    <tr>
        <td>$c["id_contacto"]</td>
        <td>$c["nombre"]</td>
        <td>$c["telefono"]</td>
        <td>$c["email"]</td>
        <td>
            <a href="/edit/$(c['id_contacto'])">Editar</a>
            <a href="/delete/$(c['id_contacto'])">Eliminar</a>
        </td>
    </tr>
</table>